.adminrejectedrequestspage {
	.content {
		margin: 3rem 0;

		h4 {
			margin-bottom: 2rem;
			text-transform: uppercase;
		}

		.head {
			display: grid;
			grid-template-columns: 2fr 1fr;

			form {
				div {
					position: relative;

					svg {
						position: absolute;
						top: 60%;
						right: 0;
						transform: translate(0, -60%);
						font-size: 1.5rem;
						// padding: 0.5rem;
						cursor: pointer;
					}
				}
			}
		}

		.histories {
			margin-top: 2rem;
		}
	}
}
