.adminprofilepage {
	.user-head {
		padding: 3rem 0;
		text-align: center;
		// background-color: bisque;
		.user {
			font-size: 10rem;
			margin-bottom: 1rem;
		}

		.menu {
			font-size: 3rem;
			color: $primary-color;
			margin-left: 0.5rem;
			cursor: pointer;
		}

		div {
			margin-top: 2rem;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.line {
		width: 100%;
		margin-bottom: 3rem;
	}
}
