.adminstudentpage {
	.user-head {
		padding: 3rem 0;
		text-align: center;
		.user {
			font-size: 10rem;
			margin-bottom: 1rem;
		}

		h6 {
			margin: 1rem 0;
		}
	}

	.line {
		width: 100%;
		margin-bottom: 3rem;
	}

	.histories {
		h4 {
			margin-bottom: 2rem;
		}
	}
}
