$primary-color: #0a1172;
$light-color: #f9f9f9;
$white-color: #ffffff;
$dark-color: #323232;
$black-color: #000000;
$danger-color: #b71b1b;
$grey-color: #505050;
$light-grey-color: #eaeaea;
$radius: 50px;
