.homepage {
	background-image: url("../public/background.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;

	.container {
		width: 80%;
	}

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 90%;
		margin: 0 auto;
		height: 80px;
		box-shadow: none;
		border: none;

		.logo {
			width: 150px;
			min-width: 150px;
			height: 50px;
			min-height: 50px;
			cursor: pointer;
			@include transition();

			&:hover {
				opacity: 0.7;
			}
		}
	}

	main {
		position: absolute;
		top: 40%;
		left: 0;
		right: 0;
		transform: translate(0%, -40%);
		h1 {
			text-transform: uppercase;
			font-weight: bold;
			color: $white-color;
			line-height: 1.6;
		}

		h4 {
			color: $light-color;
		}

		.intro {
			font-size: 1rem;
			color: $light-color;
			opacity: 0.7;
			margin-bottom: 1.5rem;
		}
	}
}
