.profilepage {
	.user-head {
		padding: 3rem 0;
		text-align: center;
		// background-color: bisque;
		.user {
			font-size: 10rem;
			margin-bottom: 1rem;
		}

		.menu {
			font-size: 3rem;
			color: $primary-color;
			margin-left: 0.5rem;
			cursor: pointer;
		}

		.buttons {
			margin-top: 2rem;
			display: flex;
			align-items: center;
			justify-content: center;

			.menu {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				// wid
				// width: ;

				.dropdown {
					// display: none;
					position: absolute;
					top: 100%;

					left: 100%;
					background-color: $white-color;
					border-radius: 20px;
					overflow: hidden;
					border: 2px dotted $grey-color;
					width: 300px;
					display: none;

					li {
						padding: 1.2rem 2rem;
						text-align: left;
						@include transition();

						&:hover {
							background-color: $light-grey-color;
						}
					}

					.logout {
						border-top: 2px dotted $grey-color;
						color: $danger-color;

						&:hover {
							background-color: $danger-color;
							color: $white-color;
						}
					}
				}
				// display: none;
			}
		}
	}

	.line {
		width: 100%;
		margin-bottom: 3rem;
	}
}
