.resetpasswordpage {
	background-image: url("../public/background.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	.page-container {
		background-color: $white-color;
		border-radius: $radius;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
		position: relative;
		overflow: hidden;
		width: 1000px;
		max-width: 100%;
		min-height: 580px;

		.form-container {
			position: absolute;
			top: 0;
			height: 100%;
			@include transition();
		}

		.intro {
			font-size: 0.9rem;

			margin: 1rem 0;
		}

		.logo {
			width: 100px;
			height: 25px;
			@include transition();

			&:hover {
				opacity: 0.7;
			}
		}

		h4 {
			margin: 1rem 0;
		}

		strong {
			cursor: pointer;
		}

		form {
			padding: 0 2rem;
		}

		button {
			margin-top: 0.5rem;
			float: right;
		}

		button.hidden {
			border-color: #fff;
		}
	}

	.reset-password {
		left: 0;
		width: 50%;
		z-index: 2;

		h4 {
			margin: 0.5rem 0;
		}

		button {
			margin-top: 0.5rem;
			float: left;
		}
	}

	.page-container.active .reset-password {
		transform: translateX(100%);
	}

	.update-password {
		left: 0;
		width: 50%;
		opacity: 0;
		z-index: 1;
	}

	.page-container.active .update-password {
		transform: translateX(100%);
		opacity: 1;
		z-index: 5;
		animation: move 0.6s;
	}

	@keyframes move {
		0%,
		49.99% {
			opacity: 0;
			z-index: 1;
		}
		50%,
		100% {
			opacity: 1;
			z-index: 5;
		}
	}

	.toggle-container {
		position: absolute;
		top: 0;
		left: 50%;
		width: 50%;
		height: 100%;
		overflow: hidden;
		@include transition();
		border-radius: 150px 0 0 100px;
		z-index: 1000;
	}

	.page-container.active .toggle-container {
		transform: translateX(-100%);
		border-radius: 0 150px 100px 0;
	}

	.toggle {
		background-color: $primary-color;
		height: 100%;
		background: linear-gradient(to right, #5064d8, $primary-color);
		color: $white-color;
		position: relative;
		left: -100%;
		height: 100%;
		width: 200%;
		transform: translateX(0);
		@include transition();
	}

	.page-container.active .toggle {
		transform: translateX(50%);
	}

	.toggle-panel {
		position: absolute;
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 0 30px;
		text-align: center;
		top: 0;
		transform: translateX(0);
		@include transition();
	}

	.toggle-left {
		transform: translateX(-200%);
	}

	.page-container.active .toggle-left {
		transform: translateX(0);
	}

	.toggle-right {
		right: 0;
		transform: translateX(0);
	}

	.page-container.active .toggle-right {
		transform: translateX(200%);
	}
}
