img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: $black-color;
}

ul {
	list-style: none;
}

.container {
	width: 90%;
	max-width: 1224px;
	margin: auto;
}

@mixin transition {
	transition: all ease-in-out 0.6s;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 0.8rem;
}

.btn {
	outline: none;
	font-size: 0.9rem;
	display: inline-block;
	border: none;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	padding: 1rem 2rem;
	font-family: "__Plus_Jakarta_Sans_65517a",
		"__Plus_Jakarta_Sans_Fallback_65517a";
	border-radius: 100px;
	@include transition();

	&-primary {
		background-color: $primary-color;
		color: $white-color;
	}

	&-white {
		background-color: $white-color;
		color: $dark-color;

		&:hover {
			background-color: $light-color;
			color: $black-color;
		}
	}

	&-white-outline {
		border: 1px solid $white-color;
		background-color: transparent;
		color: $white-color;

		&:hover {
			background-color: $light-color;
			color: $primary-color;
		}
	}

	&-grey-outline {
		border: 1px solid $grey-color;
		background-color: transparent;
		color: $grey-color;

		&:hover {
			background-color: $light-grey-color;
			color: $grey-color;
		}
	}

	&-primary-outline {
		border: 1px solid $primary-color;
		background-color: transparent;
		color: $primary-color;

		&:hover {
			background-color: $light-color;
			color: $primary-color;
		}
	}
}

.line {
	background-color: $light-grey-color;
	padding: 1px 0;
	width: 60%;
	margin: 0 auto;
	border-radius: $radius;
}

form {
	background-color: $white-color;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	// padding: 0 2rem;
	height: 100%;

	div {
		// background-color: darksalmon;
		width: 100%;
		margin: 0.1rem 0;
		label {
			font-size: 0.7rem;
		}
		input,
		select {
			font-family: "__Plus_Jakarta_Sans_65517a",
				"__Plus_Jakarta_Sans_Fallback_65517a";
			width: 100%;
			padding: 0.1rem 0 0.3rem 0;
			font-weight: bold;
			font-size: 0.8rem;
			color: $dark-color;
			border: none;
			border-bottom: 1px solid $light-grey-color;
			outline: none;
			background-color: transparent;
			@include transition();

			&:focus {
				border-bottom-color: $primary-color;
			}
		}

		input[type="number"]::-webkit-inner-spin-button,
		input[type="number"]::-webkit-outer-spin-button {
			-webkit-appearance: none;
		}

		input[type="number"] {
			-moz-appearance: textfield;
		}
	}

	.password {
		position: relative;

		span {
			cursor: pointer;
			position: absolute;
			top: 95%;
			color: lighten($grey-color, 10%);
			right: 0%;
			transform: translate(0%, -95%);

			border-radius: 100%;
			@include transition();

			svg {
				font-size: 1.1rem;
			}

			&:hover {
				color: $dark-color;
			}
		}
	}

	button {
		margin-top: 0.5rem;
		float: right;
	}
}

// Alert
.alert {
	// background-color: cornflowerblue;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0.5rem 1rem;
	border-radius: 10px;
	margin: 1rem 0;

	svg {
		font-size: 2rem;
		margin-right: 1rem;
	}

	h5 {
		margin-bottom: 0.5rem;
	}

	&-danger {
		background-color: lighten($danger-color, 20%);
		color: $white-color;
		border: 2px solid $danger-color;
	}

	&-success {
		background-color: $success-color;
		color: $white-color;
		border: 2px solid $success-color;
	}

	&-warning {
		background-color: $warning-color;
		color: $white-color;
		border: 2px solid $warning-color;
	}

	&-info {
		background-color: $info-color;
		color: $white-color;
		border: 2px solid $info-color;
	}
}

// Loader

// .loader {
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100vw;
// 	height: 100%;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	background-color: rgba($white-color, 0.5);
// 	z-index: 2000;

// 	.spinner {
// 		border: 4px solid rgba($grey-color, 0.5);
// 		border-left-color: $primary-color;
// 		border-top-color: $primary-color;
// 		border-radius: 50%;
// 		width: 40px;
// 		height: 40px;
// 		animation: spin 1s linear infinite;
// 	}

// 	@keyframes spin {
// 		to {
// 			transform: rotate(360deg);
// 		}
// 	}
// }
